<a href="https://colab.research.google.com/github/kaylasward/HLProject2024/blob/master/Edit_distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#imports
from nltk.metrics import distance
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display

In [2]:
#example strings with lengths n and m
string1 = "ran"
string2 = "rn"
string3 = "rabain"
string4 = "sak"

In [3]:
#edit distance as number of inserts, deletions, or substitutions
distance.edit_distance(string1, string3)

3

In [4]:
#alignment as backtrace coordinates on n x m matrix
backtrace = distance.edit_distance_align(string1, string3)
backtrace2 = distance.edit_distance_align(string1, string2)
backtrace3 = distance.edit_distance_align(string3, string1)
backtrace4 = distance.edit_distance_align(string1, string4)

In [5]:
print(backtrace)
print(backtrace2)
print(backtrace3)

[(0, 0), (1, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 6)]
[(0, 0), (1, 1), (2, 1), (3, 2)]
[(0, 0), (1, 1), (2, 2), (3, 2), (4, 2), (5, 2), (6, 3)]

dataframe style advice from here:
https://queirozf.com/entries/pandas-dataframe-examples-styling-cells-and-conditional-formatting

In [6]:
def background_not_equal(row):
  highlight = 'background-color: lightcoral;'
  default = ''


  if row[0] != row[1]:
    return [highlight, default]
  else:
    return [default, default]

def show_alignment(data):
  df = pd.DataFrame(data)

  return df.style.apply(background_not_equal, subset=list(df.columns), axis=1)

credit to:
https://necromuralist.github.io/Neurotic-Networking/posts/nlp/autocorrect-minimum-edit-distance-backtrace/index.html

for overall logic of the following code.

Alignment
The rules for skipping characters as we move through the cells in the path are:

* If the current row is the same as the previous one, skip the character in the source, but add the character from the target.
* If the current column is the same as the previous one, skip the character in the target but add the character from the source.

In [7]:
#interpret coordinates for visualizing
def viz_align(path, source, target):
  prow = pcol = None    #previous row/column, updates at end of loop
  empty_token = "*"     #star denoting an empty token for insert/delete
  #lists to be printed at the end.
  source_toks = []
  target_toks = []

  #compares coordinates with previous points (starting at second) in path
  for crow, ccol in path[1:]:
    #if current row is same as previous, skip source char, but add target
    if crow != prow:
      source_token = source[crow-1] #adding source
    else:
      source_token = empty_token
    #if current column is same as previous, skip target char, but add source
    if ccol != pcol:
      target_token = target[ccol-1] #adding target
    else:
      target_token = empty_token

    #append tokens
    source_toks.append(source_token)
    target_toks.append(target_token)

    prow,pcol = crow,ccol

  data = {
    source: source_toks,
    target: target_toks
    }

  return show_alignment(data)

In [8]:
styler = viz_align(backtrace4, string1, string4)
styler

/var/folders/3p/m66q5cs907v4lvm0_svn5b2m0000gn/T/ipykernel_1796/1888026934.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[0] != row[1]:

In [9]:
viz_align(backtrace, string1, string3)

/var/folders/3p/m66q5cs907v4lvm0_svn5b2m0000gn/T/ipykernel_1796/1888026934.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[0] != row[1]:

In [10]:
viz_align(backtrace2, string1, string2)

/var/folders/3p/m66q5cs907v4lvm0_svn5b2m0000gn/T/ipykernel_1796/1888026934.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[0] != row[1]:

In [11]:
viz_align(backtrace3, string3, string1)

/var/folders/3p/m66q5cs907v4lvm0_svn5b2m0000gn/T/ipykernel_1796/1888026934.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if row[0] != row[1]: